body { background-image: url(background.jpeg); 
				background-repeat: no-repeat;
					background-size: cover;}

h1 {border: ridge; 
		background-color: #8FBC8F;
			text-align: center;
				color: #FFFFFF;}
h1 {border: 2px ridge #330000; 
			border-radius: 10px;}

			h2 {border: ridge;
					background-color: #8FBC8F;
						color: #FFFFFF;
							font-size: 2em;}


p {margin-left: auto;
		margin-right: auto;
			float:right;
				width: 75%; }
p{ font-family: serif, monospace, fantasy;
		font-size: 1.30em; }

nav {float: left;
			 width: 150px;
			 	padding: 20px;
			 		margin-top: 100px;
			 			background-color: #8FBC8F;
			 				font-size: 1.5em; }



 #rightcolumn { margin-left:  300px;
 					margin-top: 100px; }
 #wrapper {background-color: #FDF5E6;
 				margin-left: 150px;
 					margin-right: 150px; 
 						}


 	nav a:link {color: #FFFFFF; }
	nav a:visited { color: #EAEAEA; }
	nav a:hover {color: #000066;}