body { background-color: #8FBC8F;
	color: #FFEBCD;
	font-family: Optima, New Century Schoolbook, American Typewriter; 
		margin-left: auto; 
			margin-right: auto; 
				width: 70%; }
p {font-family: American Typewriter, New Century Schoolbook;
			font-size: 1.5em; 
				width: 50%; }
h1 {background-color: #2F4F4F }
	h2 {background-color: #597272}
		h3, h4, h5 {background-color: #788d8d}
li {font-size: 1.4em; 
	font-family: Copperplate, sans-sarif;}

